* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 20px;
    background: #4a4a4a;
    color: white;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el header esté encima del mapa */
}

#map {
    flex: 1; /* El mapa ocupará el espacio restante de la pantalla */
    z-index: 1;
}

/* Estilos para el contenido de los popups de Leaflet */
.leaflet-popup-content a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
